.flash-box
  グループを作成しました
.wrapper

  .chatside
    .side-header
      .side-header__box
        %p.side-header__box__user-name
          hasegawasan
        %ul.side-header__box__menu
          %li
            = link_to root_path do
              %i.fa.fa-edit
          %li
            = link_to root_path do
              %i.fa.fa-cog

    .groups
      %p.group
        グループ１
        %p.latest_massege
          最近のメッセージ１です


  .chat-main
    .main-header
      .main-header__group
        %p.main-header__group--name
          グループ１
        %p.main-header__group--member
          Member : satou , katou , taichi
      .main-header__edit
        = link_to root_path do
          Edit

    .messages
      .message
        .message__upper-info
          %p.message__upper-info__talker
            talker
          %p.message__upper-info__date
            投稿日時
        .message__lower-info
          %p.message__lower-info__text
            投稿内容


    .form
      .form__input
        %input.form__input--text{placeholder: "type a message",value: ""}
        %input.form__input--file{type: "file",value: ""}
        .form__input--far
          %a
            %i.far.fa-image
        .form__input--btn
          Send