.flash-box {
  background-color:#38aef0;
  text-align:center;
  color:white;
}

.wrapper {
  display: flex;
}  
  
  .chatside {
  height:100%;
  width:300px;
  }

  .side-header {
    background-color: #253141;
    color:white;
    padding: 0 20px;
    align-items: center;
    line-height: 100px;
    height:100px;
  }

  .side-header__box {
    display: flex;
    justify-content: space-between;
    &__user-name {
      font-size: 16px;
      font-weight: bold;
      color:white;  
    }
    &__menu {
      display: flex;
  }
}
  .groups{
    padding: 20px 20px 0 20px;
    height: calc(100vh - 100px);
    box-sizing: border-box;
    background-color: #2f3e51;
    overflow: scroll;
  }

  p.group {
    font-size:15px;
    font-weight:bold;
    color: #FFFFFF;
    margin-bottom:5px;
  }

  p.latest_massege {
    font-size:11px;
    font-weight:bold;
    color: #FFFFFF;
    margin-bottom:40px;
  }

  i {
    color:white;
  }

  i:visited {
    color:white;
  }


  
  .chat-main {
    width: calc(100vw - 300px);
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    height:100px;
    border-bottom: solid 1px #eee;
    &__group--name {
      padding:35px 40px 15px 40px;
      font-size:20px;
      color:#333333;
    }
    &__group--member {
      margin:0 40px;
      font-size:12px;
      color:#999999;
    }
    &__edit {

        display: block;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        color:#38aef0;
        border: solid 1px #38aef0;
        margin: 28px 40px 0 0;
    }
    &__edit:visited {
        color:#38aef0;
    }
    }

  .messages {
    padding: 46px 40px 0 40px;
    height: calc(100vh - 190px);
    box-sizing:border-box;
    background-color:#fafafa;
  }

  .message {
    padding-bottom:40px;
    &__upper-info {
      display:flex;
      margin-bottom:10px;
      &__talker {
        font-size:16px;
        color:#434a54;
        font-weight:bold;
        margin-right:10px;
      }
      &__date {
        font-size:12px;
        color:#999999;
      }
    }  
    &__lower-info {
      margin-bottom:10px;
      &__text {
        color: #434a54;
        font-size:14px;
      }
  }
}

  .form {
    background-color: #ddd;
    width: calc(100vw - 300px);
    height:90px;
    
    &__input {
      display:flex;
      justify-content: space-between;
      position:relative;
      width:100%;
      box-sizing: border-box;
      padding: 20px 40px;
      &--text {
        height:50px;
        width:100%;
        padding:0 40px 0 10px;
      }
      &--file {
        position:absolute;
        top:33px;
        right:138px;
        width:30px;
        height:30px;
        font-size: 0.5px;
        z-index:10;
        opacity:0.01;
        cursor: pointer;
      }
      &--far {
        position:absolute;
        top:33px;
        right:138px;
        width:30px;
        height:30px;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color:black;
        
      }
      &--btn {
        width:100px;
        height:50px;
        line-height:50px;
        text-align:center;
        margin-left:15px;
        background-color:#38aef0;
        color:white;
        }
      }
  }
  .form__input--far a {
    font-size:27px;
  }

  .fa-image {
    font-size:30px;
    color:black;
  }